p.categoria{
    font-size: 14px;
}
.text-center.tcapital {
    text-transform: capitalize;
  }
.cart{
    font-size: 28px;
}
.icon{
    font-size: 30px;
    height: 90px;
    width: 90px;
}
.cart{
    color: rgb(60, 60, 60);
}
.container.header {
    padding: 20px 0 17px 0;
  }